@model IEnumerable<Student>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Students</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty)
            </td>
            <td>
                    <a class="btn btn-success " asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
               @*  <a asp-action="Detail" asp-route-id="@item.Id">Details</a> | *@
                    <a class="btn btn-danger deleteBtn" data-id="@item.Id" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
    <script>
        $(".deleteBtn").on("click", function (e) {
            e.preventDefault();
            const id = $(this).attr("data-id");
            $.ajax({
                url: "/Student/Delete/" + id,
                method: "POST",
                success: function() {
                    
                }
            });
        })
    </script>
}